<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.persist.account.mapper.CustomOpenBackErrorMapMapper">
  <resultMap id="BaseResultMap" type="com.minigod.protocol.account.model.CustomOpenBackErrorMap">
    <!--@mbg.generated-->
    <!--@Table custom_open_back_error_map-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="config_key" jdbcType="VARCHAR" property="configKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, config_key
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from custom_open_back_error_map
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from custom_open_back_error_map
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.minigod.protocol.account.model.CustomOpenBackErrorMap" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into custom_open_back_error_map (code, config_key)
    values (#{code,jdbcType=INTEGER}, #{configKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.minigod.protocol.account.model.CustomOpenBackErrorMap" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into custom_open_back_error_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="configKey != null">
        config_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
      <if test="configKey != null">
        #{configKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.minigod.protocol.account.model.CustomOpenBackErrorMap">
    <!--@mbg.generated-->
    update custom_open_back_error_map
    <set>
      <if test="code != null">
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="configKey != null">
        config_key = #{configKey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.minigod.protocol.account.model.CustomOpenBackErrorMap">
    <!--@mbg.generated-->
    update custom_open_back_error_map
    set code = #{code,jdbcType=INTEGER},
      config_key = #{configKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-03-20-->
  <select id="selectOneConfigKeyByCode" resultType="java.lang.String">
    select config_key
    from custom_open_back_error_map
    where code=#{code,jdbcType=INTEGER}
  </select>


</mapper>