<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.notify.mapper.CaptchaEmailMapper">
  <resultMap id="BaseResultMap" type="com.minigod.protocol.notify.model.CaptchaEmail">
    <!--@mbg.generated-->
    <!--@Table captcha_email-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="captcha" jdbcType="CHAR" property="captcha" />
    <result column="expires_time" jdbcType="TIMESTAMP" property="expiresTime" />
    <result column="is_checked" jdbcType="BOOLEAN" property="isChecked" />
    <result column="is_used" jdbcType="BOOLEAN" property="isUsed" />
    <result column="validate_count" jdbcType="TINYINT" property="validateCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, email, `type`, captcha, expires_time, is_checked, is_used, validate_count, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from captcha_email
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from captcha_email
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.minigod.protocol.notify.model.CaptchaEmail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into captcha_email (email, `type`, captcha, 
      expires_time, is_checked, is_used, 
      validate_count, create_time, update_time
      )
    values (#{email,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{captcha,jdbcType=CHAR}, 
      #{expiresTime,jdbcType=TIMESTAMP}, #{isChecked,jdbcType=BOOLEAN}, #{isUsed,jdbcType=BOOLEAN}, 
      #{validateCount,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.minigod.protocol.notify.model.CaptchaEmail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into captcha_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="email != null">
        email,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="captcha != null">
        captcha,
      </if>
      <if test="expiresTime != null">
        expires_time,
      </if>
      <if test="isChecked != null">
        is_checked,
      </if>
      <if test="isUsed != null">
        is_used,
      </if>
      <if test="validateCount != null">
        validate_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="captcha != null">
        #{captcha,jdbcType=CHAR},
      </if>
      <if test="expiresTime != null">
        #{expiresTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isChecked != null">
        #{isChecked,jdbcType=BOOLEAN},
      </if>
      <if test="isUsed != null">
        #{isUsed,jdbcType=BOOLEAN},
      </if>
      <if test="validateCount != null">
        #{validateCount,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.minigod.protocol.notify.model.CaptchaEmail">
    <!--@mbg.generated-->
    update captcha_email
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=CHAR},
      </if>
      <if test="captcha != null">
        captcha = #{captcha,jdbcType=CHAR},
      </if>
      <if test="expiresTime != null">
        expires_time = #{expiresTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isChecked != null">
        is_checked = #{isChecked,jdbcType=BOOLEAN},
      </if>
      <if test="isUsed != null">
        is_used = #{isUsed,jdbcType=BOOLEAN},
      </if>
      <if test="validateCount != null">
        validate_count = #{validateCount,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.minigod.protocol.notify.model.CaptchaEmail">
    <!--@mbg.generated-->
    update captcha_email
    set email = #{email,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=CHAR},
      captcha = #{captcha,jdbcType=CHAR},
      expires_time = #{expiresTime,jdbcType=TIMESTAMP},
      is_checked = #{isChecked,jdbcType=BOOLEAN},
      is_used = #{isUsed,jdbcType=BOOLEAN},
      validate_count = #{validateCount,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>