<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.security.mapper.CustomOpenInfoMapper">
  <resultMap id="BaseResultMap" type="com.minigod.security.protocol.model.CustomOpenInfo">
    <!--@mbg.generated-->
    <!--@Table custom_open_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="access_way" jdbcType="INTEGER" property="accessWay" />
    <result column="account_type" jdbcType="INTEGER" property="accountType" />
    <result column="open_type" jdbcType="INTEGER" property="openType" />
    <result column="account_markets" jdbcType="VARCHAR" property="accountMarkets" />
    <result column="pending_type" jdbcType="INTEGER" property="pendingType" />
    <result column="fail_type" jdbcType="INTEGER" property="failType" />
    <result column="open_result" jdbcType="VARCHAR" property="openResult" />
    <result column="is_need_push" jdbcType="BOOLEAN" property="isNeedPush" />
    <result column="push_err_count" jdbcType="INTEGER" property="pushErrCount" />
    <result column="remote_id" jdbcType="VARCHAR" property="remoteId" />
    <result column="open_date" jdbcType="TIMESTAMP" property="openDate" />
    <result column="trade_account" jdbcType="VARCHAR" property="tradeAccount" />
    <result column="is_send" jdbcType="BOOLEAN" property="isSend" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="open_account_pdf_url" jdbcType="VARCHAR" property="openAccountPdfUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, phone, email, `password`, bank_card, id_card, `status`, access_way, account_type, 
    open_type, account_markets, pending_type, fail_type, open_result, is_need_push, push_err_count, 
    remote_id, open_date, trade_account, is_send, info, open_account_pdf_url, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from custom_open_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from custom_open_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.minigod.security.protocol.model.CustomOpenInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into custom_open_info (phone, email, `password`, 
      bank_card, id_card, `status`, 
      access_way, account_type, open_type, 
      account_markets, pending_type, fail_type, 
      open_result, is_need_push, push_err_count, 
      remote_id, open_date, trade_account, 
      is_send, info, open_account_pdf_url, 
      create_time, update_time)
    values (#{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{bankCard,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{accessWay,jdbcType=INTEGER}, #{accountType,jdbcType=INTEGER}, #{openType,jdbcType=INTEGER}, 
      #{accountMarkets,jdbcType=VARCHAR}, #{pendingType,jdbcType=INTEGER}, #{failType,jdbcType=INTEGER}, 
      #{openResult,jdbcType=VARCHAR}, #{isNeedPush,jdbcType=BOOLEAN}, #{pushErrCount,jdbcType=INTEGER}, 
      #{remoteId,jdbcType=VARCHAR}, #{openDate,jdbcType=TIMESTAMP}, #{tradeAccount,jdbcType=VARCHAR}, 
      #{isSend,jdbcType=BOOLEAN}, #{info,jdbcType=VARCHAR}, #{openAccountPdfUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.minigod.security.protocol.model.CustomOpenInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into custom_open_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="bankCard != null">
        bank_card,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="accessWay != null">
        access_way,
      </if>
      <if test="accountType != null">
        account_type,
      </if>
      <if test="openType != null">
        open_type,
      </if>
      <if test="accountMarkets != null">
        account_markets,
      </if>
      <if test="pendingType != null">
        pending_type,
      </if>
      <if test="failType != null">
        fail_type,
      </if>
      <if test="openResult != null">
        open_result,
      </if>
      <if test="isNeedPush != null">
        is_need_push,
      </if>
      <if test="pushErrCount != null">
        push_err_count,
      </if>
      <if test="remoteId != null">
        remote_id,
      </if>
      <if test="openDate != null">
        open_date,
      </if>
      <if test="tradeAccount != null">
        trade_account,
      </if>
      <if test="isSend != null">
        is_send,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="openAccountPdfUrl != null">
        open_account_pdf_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null">
        #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="accessWay != null">
        #{accessWay,jdbcType=INTEGER},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=INTEGER},
      </if>
      <if test="openType != null">
        #{openType,jdbcType=INTEGER},
      </if>
      <if test="accountMarkets != null">
        #{accountMarkets,jdbcType=VARCHAR},
      </if>
      <if test="pendingType != null">
        #{pendingType,jdbcType=INTEGER},
      </if>
      <if test="failType != null">
        #{failType,jdbcType=INTEGER},
      </if>
      <if test="openResult != null">
        #{openResult,jdbcType=VARCHAR},
      </if>
      <if test="isNeedPush != null">
        #{isNeedPush,jdbcType=BOOLEAN},
      </if>
      <if test="pushErrCount != null">
        #{pushErrCount,jdbcType=INTEGER},
      </if>
      <if test="remoteId != null">
        #{remoteId,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null">
        #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeAccount != null">
        #{tradeAccount,jdbcType=VARCHAR},
      </if>
      <if test="isSend != null">
        #{isSend,jdbcType=BOOLEAN},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="openAccountPdfUrl != null">
        #{openAccountPdfUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.minigod.security.protocol.model.CustomOpenInfo">
    <!--@mbg.generated-->
    update custom_open_info
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null">
        bank_card = #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="accessWay != null">
        access_way = #{accessWay,jdbcType=INTEGER},
      </if>
      <if test="accountType != null">
        account_type = #{accountType,jdbcType=INTEGER},
      </if>
      <if test="openType != null">
        open_type = #{openType,jdbcType=INTEGER},
      </if>
      <if test="accountMarkets != null">
        account_markets = #{accountMarkets,jdbcType=VARCHAR},
      </if>
      <if test="pendingType != null">
        pending_type = #{pendingType,jdbcType=INTEGER},
      </if>
      <if test="failType != null">
        fail_type = #{failType,jdbcType=INTEGER},
      </if>
      <if test="openResult != null">
        open_result = #{openResult,jdbcType=VARCHAR},
      </if>
      <if test="isNeedPush != null">
        is_need_push = #{isNeedPush,jdbcType=BOOLEAN},
      </if>
      <if test="pushErrCount != null">
        push_err_count = #{pushErrCount,jdbcType=INTEGER},
      </if>
      <if test="remoteId != null">
        remote_id = #{remoteId,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null">
        open_date = #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeAccount != null">
        trade_account = #{tradeAccount,jdbcType=VARCHAR},
      </if>
      <if test="isSend != null">
        is_send = #{isSend,jdbcType=BOOLEAN},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="openAccountPdfUrl != null">
        open_account_pdf_url = #{openAccountPdfUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.minigod.security.protocol.model.CustomOpenInfo">
    <!--@mbg.generated-->
    update custom_open_info
    set phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      bank_card = #{bankCard,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      access_way = #{accessWay,jdbcType=INTEGER},
      account_type = #{accountType,jdbcType=INTEGER},
      open_type = #{openType,jdbcType=INTEGER},
      account_markets = #{accountMarkets,jdbcType=VARCHAR},
      pending_type = #{pendingType,jdbcType=INTEGER},
      fail_type = #{failType,jdbcType=INTEGER},
      open_result = #{openResult,jdbcType=VARCHAR},
      is_need_push = #{isNeedPush,jdbcType=BOOLEAN},
      push_err_count = #{pushErrCount,jdbcType=INTEGER},
      remote_id = #{remoteId,jdbcType=VARCHAR},
      open_date = #{openDate,jdbcType=TIMESTAMP},
      trade_account = #{tradeAccount,jdbcType=VARCHAR},
      is_send = #{isSend,jdbcType=BOOLEAN},
      info = #{info,jdbcType=VARCHAR},
      open_account_pdf_url = #{openAccountPdfUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-06-->
  <select id="selectOneByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from custom_open_info
        where user_id=#{userId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-01-15-->
  <select id="selectOneIdByUserId" resultType="java.lang.Integer">
    select id
    from custom_open_info
    where user_id=#{userId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-16-->
  <select id="selectByIsNeedPush" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from custom_open_info
    where is_need_push=#{isNeedPush,jdbcType=BOOLEAN}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-02-28-->
  <select id="selectOneById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from custom_open_info
    where id=#{id,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-02-28-->
  <select id="selectOneByPhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from custom_open_info
    where phone=#{phone,jdbcType=VARCHAR}
  </select>
</mapper>