<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.security.mapper.OpenUserBackErrorMapper">
  <resultMap id="BaseResultMap" type="com.minigod.security.protocol.model.OpenUserBackError">
    <!--@mbg.generated-->
    <!--@Table open_user_back_error-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="error" jdbcType="VARCHAR" property="error" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, num, error
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from open_user_back_error
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from open_user_back_error
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.minigod.security.protocol.model.OpenUserBackError" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into open_user_back_error (num, error)
    values (#{num,jdbcType=INTEGER}, #{error,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.minigod.security.protocol.model.OpenUserBackError" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into open_user_back_error
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="num != null">
        num,
      </if>
      <if test="error != null">
        error,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="error != null">
        #{error,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.minigod.security.protocol.model.OpenUserBackError">
    <!--@mbg.generated-->
    update open_user_back_error
    <set>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="error != null">
        error = #{error,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.minigod.security.protocol.model.OpenUserBackError">
    <!--@mbg.generated-->
    update open_user_back_error
    set num = #{num,jdbcType=INTEGER},
      error = #{error,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>