<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.persist.brokerinfo.mapper.BrokerinfoMapper">
  <resultMap id="BaseResultMap" type="com.minigod.protocol.brokerinfo.model.Brokerinfo">
    <!--@mbg.generated-->
    <!--@Table brokerinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="s" jdbcType="VARCHAR" property="s" />
    <result column="c" jdbcType="VARCHAR" property="c" />
    <result column="tw" jdbcType="VARCHAR" property="tw" />
    <result column="twf" jdbcType="VARCHAR" property="twf" />
    <result column="n" jdbcType="VARCHAR" property="n" />
    <result column="nf" jdbcType="VARCHAR" property="nf" />
    <result column="en" jdbcType="VARCHAR" property="en" />
    <result column="enf" jdbcType="VARCHAR" property="enf" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, s, `c`, tw, twf, n, nf, en, enf
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from brokerinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from brokerinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.minigod.protocol.brokerinfo.model.Brokerinfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into brokerinfo (s, `c`, tw, twf, 
      n, nf, en, enf
      )
    values (#{s,jdbcType=VARCHAR}, #{c,jdbcType=VARCHAR}, #{tw,jdbcType=VARCHAR}, #{twf,jdbcType=VARCHAR}, 
      #{n,jdbcType=VARCHAR}, #{nf,jdbcType=VARCHAR}, #{en,jdbcType=VARCHAR}, #{enf,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.minigod.protocol.brokerinfo.model.Brokerinfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into brokerinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="s != null">
        s,
      </if>
      <if test="c != null">
        `c`,
      </if>
      <if test="tw != null">
        tw,
      </if>
      <if test="twf != null">
        twf,
      </if>
      <if test="n != null">
        n,
      </if>
      <if test="nf != null">
        nf,
      </if>
      <if test="en != null">
        en,
      </if>
      <if test="enf != null">
        enf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="s != null">
        #{s,jdbcType=VARCHAR},
      </if>
      <if test="c != null">
        #{c,jdbcType=VARCHAR},
      </if>
      <if test="tw != null">
        #{tw,jdbcType=VARCHAR},
      </if>
      <if test="twf != null">
        #{twf,jdbcType=VARCHAR},
      </if>
      <if test="n != null">
        #{n,jdbcType=VARCHAR},
      </if>
      <if test="nf != null">
        #{nf,jdbcType=VARCHAR},
      </if>
      <if test="en != null">
        #{en,jdbcType=VARCHAR},
      </if>
      <if test="enf != null">
        #{enf,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.minigod.protocol.brokerinfo.model.Brokerinfo">
    <!--@mbg.generated-->
    update brokerinfo
    <set>
      <if test="s != null">
        s = #{s,jdbcType=VARCHAR},
      </if>
      <if test="c != null">
        `c` = #{c,jdbcType=VARCHAR},
      </if>
      <if test="tw != null">
        tw = #{tw,jdbcType=VARCHAR},
      </if>
      <if test="twf != null">
        twf = #{twf,jdbcType=VARCHAR},
      </if>
      <if test="n != null">
        n = #{n,jdbcType=VARCHAR},
      </if>
      <if test="nf != null">
        nf = #{nf,jdbcType=VARCHAR},
      </if>
      <if test="en != null">
        en = #{en,jdbcType=VARCHAR},
      </if>
      <if test="enf != null">
        enf = #{enf,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.minigod.protocol.brokerinfo.model.Brokerinfo">
    <!--@mbg.generated-->
    update brokerinfo
    set s = #{s,jdbcType=VARCHAR},
      `c` = #{c,jdbcType=VARCHAR},
      tw = #{tw,jdbcType=VARCHAR},
      twf = #{twf,jdbcType=VARCHAR},
      n = #{n,jdbcType=VARCHAR},
      nf = #{nf,jdbcType=VARCHAR},
      en = #{en,jdbcType=VARCHAR},
      enf = #{enf,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-04-23-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from brokerinfo
    </select>
</mapper>