<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minigod.account.mapper.CustomOpenHkInfoTempMapper">
  <resultMap id="BaseResultMap" type="com.minigod.protocol.account.model.CustomOpenHkInfoTemp">
    <!--@mbg.generated-->
    <!--@Table custom_open_hk_info_temp-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="step" jdbcType="BIGINT" property="step" />
    <result column="json_info" jdbcType="VARCHAR" property="jsonInfo" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, step, json_info, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from custom_open_hk_info_temp
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from custom_open_hk_info_temp
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.minigod.protocol.account.model.CustomOpenHkInfoTemp" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into custom_open_hk_info_temp (user_id, step, json_info, 
      create_time, update_time)
    values (#{userId,jdbcType=INTEGER}, #{step,jdbcType=BIGINT}, #{jsonInfo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.minigod.protocol.account.model.CustomOpenHkInfoTemp" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into custom_open_hk_info_temp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="step != null">
        step,
      </if>
      <if test="jsonInfo != null">
        json_info,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="step != null">
        #{step,jdbcType=BIGINT},
      </if>
      <if test="jsonInfo != null">
        #{jsonInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.minigod.protocol.account.model.CustomOpenHkInfoTemp">
    <!--@mbg.generated-->
    update custom_open_hk_info_temp
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="step != null">
        step = #{step,jdbcType=BIGINT},
      </if>
      <if test="jsonInfo != null">
        json_info = #{jsonInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.minigod.protocol.account.model.CustomOpenHkInfoTemp">
    <!--@mbg.generated-->
    update custom_open_hk_info_temp
    set user_id = #{userId,jdbcType=INTEGER},
      step = #{step,jdbcType=BIGINT},
      json_info = #{jsonInfo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>