##<div style="background-color:#d73f3c; height:73px; padding:0px;"><a href="http://www.zszhizhu.com" target="_blank" style="border:0px;"><img src="https://sns.zszhizhu.com:8000/static/openaccount/email/logo.jpg" width="720" height="73" border="0"></a></div>
<div style="padding:30px 55px 50px 55px; font-size:14px; color:#333; line-height:26px;">
    <div style="padding:0px; margin:0px; line-height:26px;"><b>尊敬的<font>${clientName}</font>先生/女士，您好！</b></div>
    <div style="padding:0px; margin:0px; line-height:26px; margin-top:15px;">
        很遗憾您当前不符合赠股的条件。如有疑问，请拨打客服电话0755-3655 2261咨询，小神祝您收益满满！
        <div style="">
            <p style="color:black; font-size:9pt; text-align:left; margin:12pt 0cm 0pt 0.1pt;">
                (本邮件为系统自动发送，请勿直接回复)</p>
            <p style="margin:0cm 0cm 0pt; color:red; font-size:9pt;">
                <span class="tipsc">此邮件包含机密的或者专用的信息。这些信息是供所有以上列出的个人或者团体使用的。如果您不是此邮件的预期收件人，请勿阅读、复制、转发或存储此邮件。如果已误收此邮件，请即刻删除此邮件。</span>
            </p>
        </div>

        <div style="padding:0px; margin:0px;margin-top:15px; line-height:26px;">
            此致<br>
            <b><a  style="text-decoration:none; color:#e21e10;" href="www.zszhizhu.com">智珠证券有限公司</a></b>
        </div>
    </div>
</div>