##<div style="background-color:#d73f3c; height:73px; padding:0px;"><a href="http://www.zszhizhu.com" target="_blank" style="border:0px;"><img src="https://sns.zszhizhu.com:8000/static/openaccount/email/logo.jpg" width="720" height="73" border="0"></a></div>
<div style="padding:30px 55px 50px 55px; font-size:14px; color:#333; line-height:26px;">
    <div style="padding:0px; margin:0px; line-height:26px;"><b>尊敬的<font>${clientName}</font>，您好！</b></div>
    <div style="padding:0px; margin:0px; line-height:26px; margin-top:15px;">
        感谢您选择宝新证券。您的证券户口已经开立完成。<br>
        <table width="100%" border="1px" cellspacing="0" cellpadding="0">
            <tbody><tr>
                <td width="200"  style="padding-bottom:6px; font-size:14px; background-color:rgba(167, 162, 162, 0.27)" >户口名称</td>
                <td valign="top" style="padding-bottom:6px; line-height:28px; font-size:14px;">${clientName}</td>
            </tr>
            <tr>
                <td width="200"  style="padding-bottom:6px; background-color:rgba(167, 162, 162, 0.27)">客户号：</td>
                <td valign="top" style="padding-bottom:6px; line-height:28px; font-size:14px;">${tradeAccount}</td>
            </tr>
            <tr>
                <td width="200"  style="padding-bottom:6px; background-color:rgba(167, 162, 162, 0.27)">交易登录帐号：</td>
                <td valign="top" style="padding-bottom:6px; line-height:28px; font-size:14px;">${tradeAccount}</td>
            </tr>
            <tr>
                <td width="200"  style="padding-bottom:6px; background-color:rgba(167, 162, 162, 0.27)">初始密码</td>
                <td valign="top" style="padding-bottom:6px; line-height:28px; font-size:14px;">${tradeAccountPassword}</td>
            </tr>
            </tbody></table>
        <br/>温馨提示：<br/>
        1. 附件为您在智珠证券开户过程中所阅读和填写的资料，请查阅并核对。<br/>
        2. 出于您账户安全性考虑，我们建议您在第一次登录后即修改交易密码。<br/>
        3. 如果您需要入金，请通过小神有财APP-首页-证券服务-存入资金进行操作。<br/>
        <div style="">
            <p style="color:black; font-size:9pt; text-align:left; margin:12pt 0cm 0pt 0.1pt;">
                (本邮件为系统自动发送，请勿直接回复)</p>
            <p style="margin:0cm 0cm 0pt; color:red; font-size:9pt;">
                <span class="tipsc">此邮件包含机密的或者专用的信息。这些信息是供所有以上列出的个人或者团体使用的。如果您不是此邮件的预期收件人，请勿阅读、复制、转发或存储此邮件。如果已误收此邮件，请即刻删除此邮件。</span>
            </p>
        </div>

        <div style="padding:0px; margin:0px;margin-top:15px; line-height:26px;">
            此致<br>
            <b><a  style="text-decoration:none; color:#e21e10;" href="www.zszhizhu.com">智珠证券有限公司</a></b>
        </div>
    </div>
##    <div style="margin:0px 8px 8px 8px; background-color:#FAFAFA; padding:20px 47px; font-size:12px; height: 12rem;">
##        <div style="font-weight:bold; margin-bottom:15px;">如需帮助，请联系我们：</div>
##        <table width="450em" border="0" cellspacing="0" cellpadding="0" style="float: left;">
##            <tbody><tr>
##                <td width="42" valign="top" style="padding-bottom:6px;"><img src="https://sns.zszhizhu.com:8000/static/openaccount/email/telicon.gif"></td>
##                <td colspan="2" valign="top" style="padding-bottom:6px; line-height:28px; font-size:12px;">内地热线：400-688-3187 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;香港热线：(852) 2379 8888</td>
##            </tr>
##            <tr>
##                <td width="42" valign="top" style="padding-bottom:6px;"><img width="28" height="28"  src="https://sns.zszhizhu.com:8000/static/openaccount/email/printer-tool.png"></td>
##                <td colspan="2" valign="top" style="padding-bottom:6px; line-height:28px; font-size:12px;">香港传真：（852）2810 7978</td>
##            </tr>
##            <tr>
##                <td width="42" valign="top" style="padding-bottom:6px;"><img width="28" height="28"  src="https://sns.zszhizhu.com:8000/static/openaccount/email/web-page-home.png"></td>
##                <td colspan="2" valign="top" style="padding-bottom:6px; line-height:28px; font-size:12px;">官方网站：<a  style="color:"#000000";text-decoration:none;" href="www.zszhizhu.com">www.zszhizhu.com</a></td>
##            </tr>
##            </tbody></table>
##        <div style="width: 8rem; height: 10rem;float: left;">
##            <img style="float: left;" width="120em" height="120em" src="https://sns.zszhizhu.com:8000/static/openaccount/email/9FstockQR.jpg" />
##            <span style="display: block;float: left;margin-left: .5em;">扫码关注微信公众号</span>
##        </div>
##        <div style="width: 8rem; height: 10rem;float: left;text-align: center;">
##            <img style="float: left;" width="120em" height="120em" src="https://sns.zszhizhu.com:8000/static/openaccount/email/appDownload.png" />
##            <span style="display: block;float: left;margin-left: 2em;">扫码下载APP</span>
##        </div>
##
##    </div>
</div>